*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#h1{
    text-align: center;
    font-size: 40px;
}
p{
    background-color: rgb(153, 139, 139);
    border: 2px solid black;
    margin-right: 10px;
    padding: 45px 10px 5px 10px;
}
.items{
    position: relative;
}
.name{  
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 40px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family:'Times New Roman', Times, serif
}
#p1{
 background-color: palevioletred;   
}
#p2{
 background-color: rgb(155, 13, 60); 
 color: white;  
}
#p3{
 background-color: rgb(214, 201, 81);   
}
.row{
    width: 100%;
}

@media (min-width: 992px) {
   .large {
      float: left;
    }
    .large {
      width: 33.33%;
    
    }
        
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .medium{
      float: left;
     
    }
    
    .medium {
      width: 50%;

  }
  #thirddiv{
    width: 100%;
  }
}

  @media (max-width: 767px) {
    .small {
      float: left;
    }
    .small {
      width: 100%;
    }
  
    
  }